<div class="directions">
<p>
Nick and Griffin are good, good boys and they are very, very afraid of the dark. Thank goodness there's you, mighty wizard! You have magic eyes and can see the mystical <i>lumens</i> that are all over the world of light.
</p>

<p>
Use your magic eyes to look for <i>lumens</i>. Collect 10 of them every time you look. Once you've collected 10, the zone of light you are in will go dark and you'll have to move back into the light world to look for more <i>lumens</i>. Dark zones expire in 10 minutes.
</p>

<p>
Visit the boys in their house to see how many <i>lumens</i> are remaining and to see if the boys are scared or not.
</p>

<p>
Good luck!
</p>
<BR><BR><BR>
<p style="font-size:.8em"><a href="/credits.html">Image Credits</a></p>
</div>